.first-section {
  background: url(./assets/images/mobile_intro_bg.png) no-repeat;
  background-position: left top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-1 {
  font-family: sans-serif;
  font-weight: 700;
  color: #ae8625;
}
.main-text {
  font-family: sans-serif;
  font-weight: 700;
  color: #ae8625;
  font-size: 35px;
}
.text-2 {
  font-family: sans-serif;
  color: #272a31;
  margin: 12px;
  padding: 25px;
  background-color: #d3d3d3;
  border: 1px solid #272a31;
  box-shadow: 1px 1px #272a31;
}

.location-container {
  align-self: flex-start;
  margin-left: 10px;
}

.date {
  font-family: sans-serif;
  font-weight: 700;
  color: #ae8625;
  font-size: 25px;
}

.location {
  font-family: sans-serif;
  font-weight: 500;
  font-size: medium;
}

.second-section {
  background: url(./assets/images/pattern_bg.png);
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.main-p-text {
  color: #d3d3d3;
  font-family: sans-serif;
}

.parts {
  display: flex;
  gap: 8px;
  color: #d3d3d3;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px;
  align-items: baseline;
}

.parts-txt-con {
  display: flex;
  gap: 16px;
}

.join-button {
  background-color: #ae8625;
  padding: 25px;
  color: #fff;
  font-weight: 500;
}

.parts-photo {
  object-fit: contain;
}

.activity-bar {
  align-self: center;
  color: #ae8625;
  font-family: sans-serif;
}

.grid-two-parts {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr;
}

.featured-photo-holder {
  object-fit: contain;
}

.featured-photo-holder img {
  width: 100%;
}

.featured-text-holder {
  padding-left: 15px;
}

.featured-header {
  color: #272a31;
  text-align: center;
  font-family: sans-serif;
}

.featured-name {
  color: #272a31;
  font-family: sans-serif;
}

.featured-info {
  color: #ae8625;
  font-family: sans-serif;
}

.featured-details {
  color: #272a31;
  font-family: sans-serif;
}

/* Hamburger menu classes */

.navbar-img-logo {
  display: none;
}

.nav-link {
  text-decoration: none;
  transition: 0.5s ease;
}

.nav-link:hover {
  color: #ae8625;
}

.nav-item {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  position: fixed;
  left: -120%;
  top: 70px;
  gap: 0;
  display: flex;
  flex-direction: column;
  background-color: #272a31;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.3s;
}

.nav-menu.active {
  left: 0;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #272a31;
  margin: 5px;
}

.hamburger {
  display: block;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.top-navbar {
  display: none;
}

.nav-img-container {
    display: none;
}

.parts-link {
    display: none;
}

.third-section {
    padding: 0%;
}

@media screen and (min-width: 768px) {

    .hamburger {
        display: none;
    }
    .nav-menu {
        width: auto;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 60px;
        left: 0%;
        top: 0%;
        flex-direction: row;
        background-color: #fff;
    }

    .nav-link {
        color: #272a31;
    }

    .navbar-img-logo {
        display: block;
    }

    .nav-img-container {
        display: block;
        object-fit: contain;
    }

    .nav-img-container img {
        width: 100%;
    }

    .top-navbar {
        display: block;
        background-color: #272a31;
    }

    .top-nav-items {
        display: flex;
        list-style-type: none;
        gap: 8px;
        justify-content: flex-end;
        padding: 5px;
        gap: 16px;
        font-family: sans-serif;
        align-items: baseline;
    }

    .link-top-nav {
        text-decoration: none;
        color: #fff;
    }

    .navbar {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    /* first section */

    .first-section {
        background: url(./assets/images/main_big.png);
        align-items: flex-start;
        padding: 150px;
    }

    .text-1 {
        font-size: 2vw;
    }

    .main-text {
        font-size: 4vw;
    }

    .date {
        font-size: 2vw;
    }

    .text-2 {
        font-size: 1vw;
    }

    .location {
        font-size: 2vw;
    }

    .second-section {
        flex-direction: row;
    }

    .parts {
        flex-direction: column;
    }

    .join-button {
        display: none;
    }

    .parts-link {
        display: block;
        color: #fff;
        font-family: sans-serif;
    }

    /* speaker section */
    .third-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}